In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [6]:
df = pd.read_csv("Employee-Income-Analysis.csv", encoding='latin-1')

In [7]:
df.dtypes

NAME                          object
DEPARTMENT_NAME               object
TITLE                         object
REGULAR                      float64
RETRO                        float64
OTHER                        float64
OVERTIME                     float64
INJURED                      float64
DETAIL                       float64
QUINN/EDUCATION INCENTIVE    float64
TOTAL EARNINGS               float64
POSTAL                        object
dtype: object

In [8]:
df.head()

,NAME,DEPARTMENT_NAME,TITLE,REGULAR,RETRO,OTHER,OVERTIME,INJURED,DETAIL,QUINN/EDUCATION INCENTIVE,TOTAL EARNINGS,POSTAL
0,"Abadi,Kidani A",Assessing Department,Property Officer,46291.98,NaN,300.0,NaN,NaN,NaN,NaN,46591.98,2118
1,"Abasciano,Joseph",Boston Police Department,Police Officer,6933.66,NaN,850.0,205.92,74331.86,NaN,15258.44,97579.88,2132
2,"Abban,Christopher John",Boston Fire Department,Fire Fighter,103442.22,NaN,550.0,15884.53,NaN,4746.5,NaN,124623.25,2132
3,"Abbasi,Sophia",Green Academy,Manager (C) (non-ac),18249.83,NaN,NaN,NaN,NaN,NaN,NaN,18249.83,2148
4,"Abbate-Vaughn,Jorgelina",BPS Ellis Elementary,Teacher,84410.28,NaN,1250.0,NaN,NaN,NaN,NaN,85660.28,2481

In [9]:
df = df.fillna(0)

In [10]:
df.head()

,NAME,DEPARTMENT_NAME,TITLE,REGULAR,RETRO,OTHER,OVERTIME,INJURED,DETAIL,QUINN/EDUCATION INCENTIVE,TOTAL EARNINGS,POSTAL
0,"Abadi,Kidani A",Assessing Department,Property Officer,46291.98,0.0,300.0,0.00,0.00,0.0,0.00,46591.98,2118
1,"Abasciano,Joseph",Boston Police Department,Police Officer,6933.66,0.0,850.0,205.92,74331.86,0.0,15258.44,97579.88,2132
2,"Abban,Christopher John",Boston Fire Department,Fire Fighter,103442.22,0.0,550.0,15884.53,0.00,4746.5,0.00,124623.25,2132
3,"Abbasi,Sophia",Green Academy,Manager (C) (non-ac),18249.83,0.0,0.0,0.00,0.00,0.0,0.00,18249.83,2148
4,"Abbate-Vaughn,Jorgelina",BPS Ellis Elementary,Teacher,84410.28,0.0,1250.0,0.00,0.00,0.0,0.00,85660.28,2481

In [14]:
#4. How does the job title, department impact an employee's pay? Is it possible to classify by these categories?

In [34]:
df1 = df.groupby(['DEPARTMENT_NAME','TITLE'])['TOTAL EARNINGS'].mean().sort_values(ascending=False).head(30)

# The job title, department impact an employee's pay. employee's in  some department and job title are getting more average salary then other department

In [35]:
df1.head

<bound method NDFrame.head of DEPARTMENT_NAME           TITLE
Boston Police Department  Police Sergeant/Hdq Dispatcher    290398.540000
                          Police Lieutenant/Hdq Dispatch    283031.333333
                          Police Lieut/Paid Detail Ser      279348.120000
                          Police Captain                    267909.210000
                          Police Captain-DDC/HRCD           266890.600000
                          Dep Supn (Bpd)                    254927.868333
                          Police Lieut (Det)                253332.240000
                          Police Captain/DDC                251699.349375
                          Commissioner (Bpd)                245305.080000
                          Police Captain (Det)              243248.753333
Boston Fire Department    Dep Fire Chief Administration     236105.782857
Boston Police Department  Police Sergeant/Bomb Squad        232847.785000
Boston Fire Department    Chief of Support Services         231706.750000
Boston Police Department  Supn Bpd                          231436.971111
                          Police Capt/DDC-Hackney Inves     226544.980000
Boston Fire Department    Chief of Field Services           226244.200000
Boston Police Department  Police Lieutenant (Det)           226131.772308
Boston Fire Department    Dep Fire Chief                    225080.606250
                          Frprs Electrical Equip Rprprs     222389.620000
Superintendent            Superintendent                    222366.805000
Boston Fire Department    Dist Fire Chief-Adm Asst Dvmtr    222149.630000
                          DepFireChiefAdmn-AdvTechnician    215263.750000
                          District FireChiefAdmn-AdvTech    214181.950000
                          FCommissioner/Chief of theDept    213577.000000
                          F Captain Admin Dvmstr            209970.580000
Boston Police Department  Police Sergeant/CHF RADIO DISP    206582.781250
Boston Fire Department    Fire Captain Admn-Advance Tech    206324.255000
                          Wkg Frprs Elec Equip Repairprs    206320.030000
                          District Fire Chief Admin-ADR     205210.080000
Boston Police Department  Police Sergeant/Pd Det Serv       205050.285000
Name: TOTAL EARNINGS, dtype: float64>

In [ ]:
#5. Are there any social trends that residents would care about? For example, which zip codes are home to the highest and lowest average paid employees? Can we identify geographic clusters of certain professions?

In [55]:
df2 = df.groupby(['POSTAL'])['TOTAL EARNINGS'].mean().sort_values(ascending=False).head(30)

In [56]:
df2

POSTAL
3872     257554.270000
92821    233283.910000
2159     210813.320000
2174     198230.020000
1969     197166.530000
2137     182831.780000
2065     180072.080000
2327     176883.850000
96753    172999.160000
2644     170933.730000
2763     167684.870000
2668     161776.360000
1772     160086.348571
1826     149419.005000
1536     148183.390000
1590     143228.920000
37914    143095.670000
2025     137524.673333
2339     136933.809620
1741     135308.570000
2187     134038.840000
1949     133695.467143
2056     133462.459091
2361     133394.970000
2332     130811.235385
1754     130531.205000
2632     130210.310000
3820     130182.000000
2123     128997.765000
32725    128975.540000
Name: TOTAL EARNINGS, dtype: float64

# higest paid eployee by zip code

In [57]:
max_earn = df.groupby(['POSTAL'])['TOTAL EARNINGS'].mean().sort_values(ascending=False)[:1]
max_earn

POSTAL
3872    257554.27
Name: TOTAL EARNINGS, dtype: float64

# lowest paid eployee by zip code

In [58]:
min_earn = df.groupby(['POSTAL'])['TOTAL EARNINGS'].mean().sort_values(ascending=False)[-1:]
min_earn

POSTAL
3908    17.5
Name: TOTAL EARNINGS, dtype: float64